.home-mob .group-1817 {
  position: absolute;
  top: 575px;
  right: -360px;
  width: 780px;
  height: 7396px;
}
.home-mob .image-39 {
  border-radius: 20px 20px 0 0;
  background: url('../assets/images/image39.png');
  position: absolute;
  left: -52px;
  top: -21px;
  width: 402px;
  height: 311px;
}
.home-mob .mask-group-14 {
  border-radius: 20px;
  background: url('../assets/images/image87.png') 50% / cover no-repeat;
  position: relative;
  width: 336px;
  box-sizing: border-box;
}
.home-mob .image-391 {
  border-radius: 20px 20px 0 0;
  background: url('../assets/images/image39.png');
  position: absolute;
  left: -52px;
  top: -21px;
  width: 402px;
  height: 311px;
}
.home-mob .mask-group-15 {
  border-radius: 20px;
  background: url('../assets/images/image87.png') 50% / cover no-repeat;
  position: relative;
  width: 336px;
  height: 524px;
}
.home-mob .group-1808 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 336px;
  height: 524px;
  box-sizing: border-box;
}
.home-mob .image-392 {
  border-radius: 20px 20px 0 0;
  background: url('../assets/images/image39.png');
  position: absolute;
  left: -52px;
  top: -21px;
  width: 402px;
  height: 311px;
}
.home-mob .mask-group-16 {
  border-radius: 20px;
  background: url('../assets/images/image87.png') 50% / cover no-repeat;
  position: relative;
  width: 336px;
  box-sizing: border-box;
}
.home-mob .banner {
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 1048px;
  box-sizing: border-box;
}
.home-mob .floral {
  margin-bottom: 20px;
  width: 24px;
  height: 33px;
}
.home-mob .begin-my-journey {
  margin: 0 5.7px 20px 11px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 30px;
  line-height: 0.967;
  text-transform: capitalize;
  color: #700606;
}
.home-mob .find-out-my-community {
  margin-right: 25.1px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 17px;
  line-height: 1.706;
  text-transform: capitalize;
  color: #A4A4A4;
}
.home-mob .vector-4 {
  margin: 7px 0;
  width: 15px;
  height: 15px;
}
.home-mob .frame-1773 {
  border-radius: 7px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: row;
  padding: 0.5px 11px;
  width: fit-content;
  box-sizing: border-box;
}
.home-mob .frame-1703 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.home-mob .gdsas {
  background: url('../assets/images/nupurPadhyeGaurviDesai173533345NayantharaXtanishqRivaah11.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -53px;
  top: -45px;
  width: 392px;
  height: 392px;
}
.home-mob .tamil-bride {
  border: 0.3px solid #700606;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.813;
  color: #700606;
}
.home-mob .frame-16481 {
  background: linear-gradient(90deg, rgba(255, 238, 238, 0), rgba(255, 238, 238, 0.22), rgba(255, 238, 238, 0.75), rgba(255, 248, 248, 0.19), rgba(255, 255, 255, 0));
  position: relative;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 1.1px;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .vector-5 {
  width: 16px;
  height: 13px;
}
.home-mob .frame-17011 {
  border-radius: 50px;
  background: #FFFFFF;
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 8.5px;
  width: 33px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .panjabi-bride {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-1648 {
  border-radius: 6px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px 10.6px 1px 10px;
  box-sizing: border-box;
}
.home-mob .trending-in-panjabi-rivaah {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-1649 {
  border-radius: 6px;
  border: 1px solid #700606;
  position: absolute;
  right: -179px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 9.4px 0 9px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .what-other-brides-do {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-1702 {
  border-radius: 6px;
  border: 1px solid #700606;
  position: absolute;
  right: -331px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 9.3px 0 9px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .frame-1650 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-mob .vector-6 {
  width: 16px;
  height: 13px;
}
.home-mob .frame-17031 {
  border-radius: 50px;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 8.5px;
  width: 33px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .frame-1704 {
  position: relative;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .container-8 {
  border-radius: 0 0 17px 17px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 246, 246, 0.545), rgba(255, 238, 238, 0.92));
  position: relative;
  padding: 11px 10px 16px 11px;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .mask-group-5 {
  border-radius: 17px;
  background: url('../assets/images/image452.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 231px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .tile-3 {
  margin: 0 20px 1px 0;
  flex-grow: 1;
  flex-basis: 296px;
  box-sizing: border-box;
}
.home-mob .image-451 {
  border-radius: 17px;
  background: url('../assets/images/image452.png') 50% / cover no-repeat;
  position: absolute;
  left: -116.7px;
  bottom: -42.5px;
  width: 521.7px;
  height: 391.1px;
}
.home-mob .mask-group-6 {
  border-radius: 17px;
  position: absolute;
  left: 0px;
  right: 1px;
  bottom: 0px;
  height: 315px;
}
.home-mob .vector-7 {
  width: 16px;
  height: 13px;
}
.home-mob .frame-17012 {
  border-radius: 50px;
  background: #FFFFFF;
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 8.5px;
  width: 33px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .panjabi-bride-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-16482 {
  border-radius: 6px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px 10.6px 1px 10px;
  box-sizing: border-box;
}
.home-mob .trending-in-panjabi-rivaah-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-16491 {
  border-radius: 6px;
  border: 1px solid #700606;
  position: absolute;
  right: -179px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 9.4px 0 9px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .what-other-brides-do-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-17021 {
  border-radius: 6px;
  border: 1px solid #700606;
  position: absolute;
  right: -331px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 9.3px 0 9px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .frame-16501 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-mob .vector-8 {
  width: 16px;
  height: 13px;
}
.home-mob .frame-17032 {
  border-radius: 50px;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 8.5px;
  width: 33px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .frame-17041 {
  position: relative;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .container-9 {
  border-radius: 0 0 17px 17px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 246, 246, 0.545), rgba(255, 238, 238, 0.92));
  position: relative;
  padding: 10px 9px 17px 11px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .panjabi-bride-2 {
  border: 0.3px solid #700606;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.813;
  color: #700606;
}
.home-mob .frame-16483 {
  background: linear-gradient(90deg, rgba(255, 238, 238, 0), rgba(255, 238, 238, 0.22), rgba(255, 238, 238, 0.75), rgba(255, 248, 248, 0.19), rgba(255, 255, 255, 0));
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 1.7px;
  box-sizing: border-box;
}
.home-mob .tile-2 {
  position: relative;
  margin-right: 20px;
  padding-top: 264px;
  flex-grow: 1;
  flex-basis: 295px;
  box-sizing: border-box;
}
.home-mob .with-extra-bg-1 {
  background: url('../assets/images/withExtraBg1.png');
  position: absolute;
  left: -12px;
  top: -24px;
  width: 316px;
  height: 469px;
}
.home-mob .tamil-bride-1 {
  border: 0.3px solid #700606;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.813;
  color: #700606;
}
.home-mob .frame-16485 {
  background: linear-gradient(90deg, rgba(255, 238, 238, 0), rgba(255, 238, 238, 0.22), rgba(255, 238, 238, 0.75), rgba(255, 248, 248, 0.19), rgba(255, 255, 255, 0));
  position: relative;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 1.1px;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .vector-9 {
  width: 16px;
  height: 13px;
}
.home-mob .frame-17013 {
  border-radius: 50px;
  background: #FFFFFF;
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 8.5px;
  width: 33px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .panjabi-bride-3 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-16484 {
  border-radius: 6px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px 10.6px 1px 10px;
  box-sizing: border-box;
}
.home-mob .trending-in-panjabi-rivaah-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-16492 {
  border-radius: 6px;
  border: 1px solid #700606;
  position: absolute;
  right: -179px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 9.4px 0 9px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .what-other-brides-do-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.833;
  color: #700606;
}
.home-mob .frame-17022 {
  border-radius: 6px;
  border: 1px solid #700606;
  position: absolute;
  right: -331px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 9.3px 0 9px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .frame-16502 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-mob .vector-10 {
  width: 16px;
  height: 13px;
}
.home-mob .frame-17033 {
  border-radius: 50px;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.5px 8.5px;
  width: 33px;
  height: 24px;
  box-sizing: border-box;
}
.home-mob .frame-17042 {
  position: relative;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .container-5 {
  border-radius: 0 0 17px 17px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 246, 246, 0.545), rgba(255, 238, 238, 0.92));
  position: relative;
  padding: 11px 10px 16px 11px;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .mask-group-7 {
  border-radius: 17px;
  background: url('../assets/images/image452.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 231px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .tile-1 {
  margin-bottom: 1px;
  flex-grow: 1;
  flex-basis: 296px;
  box-sizing: border-box;
}
.home-mob .frame-1774 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .frame-1793 {
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .container-1 {
  opacity: 0.5;
  background: url('../assets/images/image.jpeg');
  position: absolute;
  right: -23.5px;
  bottom: -29px;
  width: 477px;
  height: 520px;
}
.home-mob .capa-1 {
  margin-bottom: 20px;
  width: 24px;
  height: 33px;
}
.home-mob .choose-my-jewellery {
  margin-right: 2.2px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 30px;
  line-height: 0.967;
  text-transform: capitalize;
  color: #700606;
}
.home-mob .frame-1713 {
  position: absolute;
  left: 91px;
  top: 16.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.home-mob .image-89 {
  border-radius: 12px;
  background: url('../assets/images/image89.png') 50% / cover no-repeat;
  position: absolute;
  right: -5px;
  bottom: -16px;
  width: 244px;
  height: 181px;
}
.home-mob .mask-group-8 {
  border-radius: 12px;
  background: url('../assets/images/ayanangshuLahiri174255487TanishqRivaah2011.png') 50% / cover no-repeat;
  position: absolute;
  left: 9px;
  top: 121.8px;
  width: 239px;
  height: 153px;
}
.home-mob .designs-available {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 12px;
  line-height: 2.417;
  text-transform: capitalize;
  color: rgba(47, 45, 45, 0.87);
}
.home-mob .frame-1751 {
  border-radius: 0 15px 0 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 243, 243, 0.685), #FFEEEE);
  position: absolute;
  left: 107.6px;
  top: 121.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px 9.9px;
  box-sizing: border-box;
}
.home-mob .rectangle-11 {
  border-radius: 12px 0 0 12px;
  background: linear-gradient(180deg, #F3B0B0, rgba(250, 211, 211, 0.798), rgba(255, 238, 238, 0.01));
  position: absolute;
  left: 9px;
  bottom: 207.2px;
  width: 240px;
  height: 34px;
}
.home-mob .necklace-set {
  position: absolute;
  left: 83.8px;
  bottom: 209.2px;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  line-height: 2.071;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .rectangle-111 {
  border-radius: 12px 0 0 12px;
  background: linear-gradient(180deg, #F3B0B0, rgba(250, 211, 211, 0.798), rgba(255, 238, 238, 0.01));
  position: absolute;
  left: 50%;
  top: 119px;
  translate: -50% 0;
  width: 240px;
  height: 34px;
}
.home-mob .bangles {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  line-height: 2.071;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .group-1813 {
  border-radius: 12px;
  position: absolute;
  left: 9px;
  bottom: 34.2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 10.7px 2px 0;
  width: 240px;
  height: 153px;
  box-sizing: border-box;
}
.home-mob .rectangle-12 {
  border-radius: 8px 0 0 8px;
  background: linear-gradient(180deg, #F3B0B0, rgba(250, 211, 211, 0.798), rgba(255, 238, 238, 0.01));
  position: absolute;
  left: 50%;
  top: 68px;
  translate: -50% 0;
  width: 146px;
  height: 28px;
}
.home-mob .mangalsutra {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.786;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .group-1814 {
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 69px 1px 2px 0;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .rectangle-121 {
  border-radius: 8px 0 0 8px;
  background: linear-gradient(180deg, #F3B0B0, rgba(250, 211, 211, 0.798), rgba(255, 238, 238, 0.01));
  position: absolute;
  left: 50%;
  top: 68px;
  translate: -50% 0;
  width: 146px;
  height: 28px;
}
.home-mob .harams {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.786;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .group-1815 {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 69px 2px 2px 0;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .all-jewellery {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .group-1816 {
  border-radius: 8px;
  background: linear-gradient(180deg, #F3B0B0, rgba(250, 211, 211, 0.798), rgba(255, 238, 238, 0.01));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 27px 3px 27px 0;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .frame-1790 {
  position: absolute;
  right: 15px;
  bottom: 32.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-mob .jewls {
  background: #FFEEEE;
  position: relative;
  margin-bottom: 49px;
  width: 430px;
  height: 482px;
}
.home-mob .mangalsutra-1 {
  margin-right: 16px;
  width: 72px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .earrings {
  margin-right: 8px;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .nath {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .aad {
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container-4 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 137.7px;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .haram {
  margin-right: 8px;
  width: 50px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .engagement-rings {
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .necklace {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .jhumkas {
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container-3 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 299.2px;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .wedding {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .frame-1746 {
  position: relative;
  margin: 0 11.9px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 667.1px;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .engagement-rings-2 {
  margin: 26px 20.8px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .rivaah {
  margin: 26px 20.5px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .mehendi {
  margin-top: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container-13 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-mob .wedding-2 {
  margin-top: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .naath {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .engagement-rings-1 {
  position: absolute;
  left: 53px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .aad-1 {
  position: absolute;
  left: 167px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .earrings-1 {
  position: absolute;
  left: 213px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .wedding-1 {
  position: absolute;
  left: 311px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .mangalsutras {
  position: absolute;
  left: 382px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .haram-1 {
  position: absolute;
  left: 472px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .bangles-1 {
  position: absolute;
  right: 423.9px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .nath-1 {
  position: absolute;
  right: 344.8px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container-7 {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .mangalsutra-2 {
  margin-right: 16px;
  width: 72px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .earrings-2 {
  margin-right: 8px;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .nath-2 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .aad-2 {
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container-11 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 137.7px;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .haram-2 {
  margin-right: 8px;
  width: 50px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .engagement-rings-3 {
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .necklace-1 {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .jhumkas-1 {
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container-12 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 299.2px;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .wedding-3 {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .frame-1748 {
  position: relative;
  margin: 0 11.9px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 667.1px;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .engagement-rings-5 {
  margin: 26px 20.8px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .rivaah-1 {
  margin: 26px 20.5px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .mehendi-1 {
  margin-top: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-mob .wedding-5 {
  margin-top: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .naath-1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .engagement-rings-4 {
  position: absolute;
  left: 53px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .aad-3 {
  position: absolute;
  left: 167px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .earrings-3 {
  position: absolute;
  left: 213px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .wedding-4 {
  position: absolute;
  left: 311px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .mangalsutras-1 {
  position: absolute;
  left: 382px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Niconne';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .haram-3 {
  position: absolute;
  left: 472px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .bangles-2 {
  position: absolute;
  right: 423.9px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'noelan', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .nath-3 {
  position: absolute;
  right: 344.8px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .container-10 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.home-mob .group-1809 {
  position: absolute;
  right: -324.1px;
  bottom: 23px;
  display: flex;
  flex-direction: column;
  width: 1003.1px;
  height: 94px;
  box-sizing: border-box;
}
.home-mob .capa-11 {
  margin: 0 0 9px 42.1px;
  width: 24px;
  height: 33px;
}
.home-mob .what-brides-are-looking-for {
  border: 2px solid #700606;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 30px;
  line-height: 0.967;
  color: #700606;
}
.home-mob .frame-1667 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-mob .vector-17 {
  width: 20.5px;
  height: 20.5px;
}
.home-mob .frame-17014 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background: #FFFFFF;
  transform: rotate(-45deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4.7px;
  width: 29.9px;
  height: 29.9px;
  box-sizing: border-box;
}
.home-mob .mask-group-13 {
  border-radius: 12px;
  background: url('../assets/images/earings1.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 78px 2.1px 0.1px 2.1px;
  width: 100%;
  height: 108px;
  box-sizing: border-box;
}
.home-mob .lorem-ipsum {
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.563;
  text-transform: capitalize;
  color: #2F2D2D;
}
.home-mob .frame-1750 {
  margin: 0 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.home-mob .popup {
  border-radius: 12px;
  background: #FFFFFF;
  position: absolute;
  right: 150px;
  bottom: -16px;
  display: flex;
  flex-direction: column;
  padding: 17px 16px 10px 16px;
  box-sizing: border-box;
}
.home-mob .frame-1724 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 41.1px 122px 0;
  width: 716px;
  box-sizing: border-box;
}
.home-mob .frame-1800 {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 927px;
  box-sizing: border-box;
}
.home-mob .rectangle-4371 {
  background: #FFEEEE;
  position: relative;
  width: 432px;
  height: 419.5px;
}
.home-mob .container-2 {
  opacity: 0.5;
  background: url('../assets/images/image.jpeg');
  position: absolute;
  left: 0px;
  right: 5.6px;
  bottom: 0px;
  height: 434px;
}
.home-mob .capa-12 {
  margin-bottom: 9px;
  width: 24px;
  height: 33px;
}
.home-mob .featuring-collections {
  border: 2px solid #700606;
  margin-right: 3.5px;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 30px;
  line-height: 0.967;
  color: #700606;
}
.home-mob .frame-16671 {
  position: relative;
  margin-bottom: 236px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.home-mob .play-circle-svgrepo-com-1 {
  border-radius: 12px;
  width: 51.1px;
  height: 51.3px;
}
.home-mob .group-1772 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: relative;
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 96.9px 0 91.9px 1.4px;
  width: 142px;
  height: 240px;
  box-sizing: border-box;
}
.home-mob .image-44 {
  background: url('../assets/images/image44.png');
  position: absolute;
  top: 37.1px;
  right: -2.6px;
  width: 110.3px;
  height: 155.2px;
}
.home-mob .image-22 {
  background: url('../assets/images/image451.png');
  position: absolute;
  left: -19.8px;
  bottom: 17.9px;
  width: 175.9px;
  height: 185px;
}
.home-mob .image-453 {
  background: url('../assets/images/image451.png');
  position: absolute;
  top: -6px;
  right: -1px;
  width: 257px;
  height: 250px;
}
.home-mob .mask-group-17 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 255px;
  height: 240px;
}
.home-mob .frame-1796 {
  position: absolute;
  left: 13px;
  top: 29px;
  right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.home-mob .group-1833 {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 14.5px;
  width: 432px;
  height: 434px;
  box-sizing: border-box;
}
.home-mob .container-3 {
  opacity: 0.5;
  background: url('../assets/images/image.jpeg');
  position: absolute;
  left: -4.5px;
  bottom: -178.7px;
  width: 428.1px;
  height: 1100.4px;
}
.home-mob .capa-13 {
  margin: 0 9.4px 9px 9.4px;
  width: 24px;
  height: 33px;
}
.home-mob .shop-the-look {
  border: 2px solid #700606;
  overflow-wrap: break-word;
  font-family: 'SterlingDisplay', 'Roboto Condensed';
  font-weight: 600;
  font-size: 30px;
  line-height: 0.967;
  color: #700606;
}
.home-mob .frame-16672 {
  position: relative;
  margin: 0 0 476px 5.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.home-mob .image-84 {
  border-radius: 8px;
  background: url('../assets/images/image84.png') 50% / cover no-repeat;
  position: absolute;
  left: -29px;
  bottom: -29.8px;
  width: 150.9px;
  height: 149.8px;
}
.home-mob .mask-group-1 {
  border-radius: 8px;
  background: url('../assets/images/dd.jpeg');
  position: relative;
  width: 100.2px;
  box-sizing: border-box;
}
.home-mob .mask-group-2 {
  border-radius: 8px;
  width: 100.2px;
  height: 120px;
}
.home-mob .blog-51 {
  border-radius: 12px;
  background: url('../assets/images/blog511.png');
  transform: rotate(-90.922deg);
  position: absolute;
  left: -22.2px;
  top: -6.5px;
  width: 124.5px;
  height: 160.1px;
}
.home-mob .dad {
  background: url('../assets/images/dad.jpeg') 50% / cover no-repeat;
  position: absolute;
  right: -18.3px;
  bottom: -57.5px;
  width: 132px;
  height: 177.5px;
}
.home-mob .mask-group-3 {
  border-radius: 8px;
  background: url('../assets/images/dd.jpeg');
  position: relative;
  width: 100.2px;
  box-sizing: border-box;
}
.home-mob .blog-511 {
  border-radius: 8px;
  background: url('../assets/images/blog51.png');
  position: absolute;
  left: -32px;
  top: -3px;
  width: 151px;
  height: 126.1px;
}
.home-mob .mask-group-4 {
  border-radius: 8px;
  background: url('../assets/images/dd.jpeg');
  position: absolute;
  right: -118.2px;
  bottom: 0px;
  width: 100.2px;
  height: 120px;
}
.home-mob .frame-1788 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 18px;
  width: 336.7px;
  box-sizing: border-box;
}
.home-mob .ellipse-82 {
  border-radius: 5px;
  background: rgba(255, 242, 244, 0.6);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.home-mob .ellipse-92 {
  border-radius: 2.5px;
  background: #FFF2F4;
  position: relative;
  width: 5px;
  height: 5px;
}
.home-mob .group-1742 {
  opacity: 0.8;
  position: relative;
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 2.5px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}
.home-mob .ellipse-81 {
  border-radius: 5px;
  background: rgba(255, 242, 244, 0.6);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 10px;
  height: 10px;
}
.home-mob .ellipse-91 {
  border-radius: 2.5px;
  background: #FFF2F4;
  position: relative;
  width: 5px;
  height: 5px;
}
.home-mob .group-1741 {
  opacity: 0.8;
  position: relative;
  margin: 0 0 34px 199px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 2.5px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}
.home-mob .image-60 {
  background: url('../assets/images/image60.png') 50% / cover no-repeat;
  position: absolute;
  left: -14.3px;
  bottom: -3.4px;
  width: 37.5px;
  height: 25.4px;
}
.home-mob .mask-group {
  border-radius: 2px;
  position: relative;
  margin-right: 3px;
  width: 21px;
  height: fit-content;
  box-sizing: border-box;
}
.home-mob .fleur-charm {
  margin-bottom: 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 7px;
  line-height: 1.714;
  text-transform: capitalize;
  color: #000000;
}
.home-mob .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1px 7.9px 1px 1px;
  box-sizing: border-box;
}
.home-mob .container {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 7px;
  line-height: 1.714;
  text-transform: capitalize;
  color: #000000;
}
.home-mob .group-1738 {
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1px;
  box-sizing: border-box;
}
.home-mob .ellipse-10 {
  border-radius: 4.5px;
  background: rgba(255, 242, 244, 0.6);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 9px;
  height: 9px;
}
.home-mob .ellipse-11 {
  border-radius: 2.5px;
  background: #FFF2F4;
  position: relative;
  width: 5px;
  height: 5px;
}
.home-mob .group-1739 {
  opacity: 0.8;
  position: relative;
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  width: 9px;
  height: 9px;
  box-sizing: border-box;
}
.home-mob .vector-19 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 57px;
  height: 10.5px;
}
.home-mob .container-2 {
  position: relative;
  margin: 0 22px 50px 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 141px;
  box-sizing: border-box;
}
.home-mob .ellipse-8 {
  border-radius: 6px;
  background: rgba(255, 242, 244, 0.6);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 12px;
  height: 12px;
}
.home-mob .ellipse-9 {
  border-radius: 3px;
  background: #FFF2F4;
  position: relative;
  width: 6px;
  height: 6px;
}
.home-mob .group-1740 {
  opacity: 0.8;
  position: relative;
  margin-left: 89px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 3px;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.home-mob .mask-group-19 {
  border-radius: 20px;
  background: url('../assets/images/dd.jpeg');
  position: absolute;
  left: 7.5px;
  top: 91px;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  height: 465px;
  box-sizing: border-box;
}
.home-mob .frame-1789 {
  position: absolute;
  left: 7.5px;
  right: 15px;
  bottom: 17.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-mob .frame-1797 {
  background: #FFEEEE;
  position: relative;
  margin: 0 6px;
  width: 420px;
  height: 744px;
}
.home-mob .frame-1783 {
  margin-right: 736.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 432px;
  box-sizing: border-box;
}
.home-mob .vector {
  width: 16px;
  height: 13px;
}
.home-mob .frame-1701 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background: #FFFFFF;
  margin: 107.7px 0 1054px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 26.6px 0;
  width: 107.8px;
  height: 66.3px;
  box-sizing: border-box;
}
.home-mob .container-1 {
  position: relative;
  margin-bottom: 4035px;
  display: flex;
  flex-direction: row;
  width: 1276.1px;
  box-sizing: border-box;
}
.home-mob .image-88 {
  background: url('../assets/images/image88.png');
  position: relative;
  width: 430px;
  height: 864px;
}
.home-mob {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 154px;
  box-sizing: border-box;
}
